
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


h1,h2,h3,h4,h5,h6,span,.navbar-brand {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #666;
   
}
.navbar-brand {
    color: rgb(7, 9, 9);
    font-size: 1.5rem;
    transition: 0.3s ,color;
}



.navbar {
    
    padding-top: 1rem;
    background-color: rgb(255, 255, 255);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.nav-link {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(43, 41, 41);
}
.nav-link:hover , .nav-link.active {
    color: black;
    text-decoration: underline;
    
}



.navbar-toggler {
    border: none;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

    }
}

.Hero-Section {
    background: linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)), 
    url(./images/Four.jpeg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.Hero-Section::before {
    background-color: rgba(0, 0, 0 , 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
}

.Hero-Section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    height: 100vh;
    z-index: 1;
    position: relative;
}
.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-right: 50px;
}



.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
  }
  .about-col h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
  }
  .about-col p {
   
    max-width: 700px;
    font-size: 18px
  }

  .about-col img {
    width: 100%; 
    height: auto;
    border-radius: 30%;
    padding-left: 3rem;
    
  }
  

.container {
    .container {
        width: 100%;
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
}
.section-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.service-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.3s ease;
}
.service-card:hover {
    transform: translateY(-20px);
}
.service-card-list {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    cursor: pointer;

}
.service-card-list h3 {
    padding-top: 1rem;
}
.service-card-list p {
    font-size: 0.9rem;
    font-weight: 300;
    
}
h3 {
    margin-bottom: 1rem;
    color: yellowgreen;
}



@media only screen and (min-width: 600px) {
    
    
    .service-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    
}
@media only screen and (min-width: 768px) {
 
    .service-card {
        grid-template-columns: 1fr 1fr 1fr;
    }


}
@media only screen and (min-width: 992px) {
    .service-card {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media only screen and (min-width: 1200px) {
    .service-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.package-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}



.card-with-bg {
    background-image: 
    url(./images/water-bg.png);
    background-size: cover;
}

.person {
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(118, 118, 244);
}
.price {
    padding-top: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(62, 62, 61);
    font-weight: 700;
   
}

.person-p {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(155, 154, 149);;
}
.card-body  {
    text-align: center;
    padding-top: 2.5rem;

}
.first-col form{
    background-color: white;
}